<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.ac.uk/kcl/inf/languages/autoresponder/AutoResponder"
			class = "uk.ac.kcl.inf.languages.autoresponder.autoResponder.AutoResponderPackage"
			genModel = "model/generated/AutoResponder.genmodel" />
	</extension>
</plugin>
